body{
    background: -webkit-linear-gradient(left, #007481, #33CCCC);
}
.emp-profile{
    padding: 5%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    display: block;

}


.profile-img img {

    border: 2px solid #007481;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-head{
    margin: 5%;
    margin-right: 20%;
    margin-left: 20%;
   // text-align: center;
    text-align: left;

}
.profile-head h5{
    margin-bottom: 5%;
    color: #003366;
    font: 40px bold;
    text-align: center;
}

.strong{
    color: #98a6ad;
    font-size: 17px !important;
}

.span{
    margin-left: 10%;
    font-size: 15px !important;
}

/* edit form */

.edit_form{
    padding-top: 50px;
    float: right;
}
