body{
    background: -webkit-linear-gradient(left, #007481, #33CCCC);
}
.emp-profile{
    padding: 5%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    position: center;

}


.profile-img img {

    border: 2px solid #007481;
    margin-left: auto;
    margin-right: auto;
}

.profile-head{
    margin: 5%;
    margin-right: 20%;
    margin-left: 20%;


    border: 2px solid black;
}
.profile-head h5{
    color: #003366;
    font: 40px bold;
}
.profile-head h6{
    color: #0062cc;

}
.profile-edit-btn{
    border: none;

    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

/* edit form */

.edit_form{
    padding-top: 50px;
    float: right;
}
